<header class="sticky-top">

    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">Gatito Book</a>

        <!--pipe |, is to get the Observable data in the Tamplate-->
        <!--user$ | async , it will get the user data running the Subscribe in the Template-->
        <!--as user , it will do a parse to user variable to be used in the Template-->
        <div *ngIf="user$ | async as user">

            <!--if the user.name exist, show it. Otherwise, <ng-template #login> will be shown-->
            <div *ngIf="user.name; else login">
                <i class=“ fa fa-user-circle mr-1></i>
                <a class="mr-1">{{user.name}}</a>
                <a (click)="logout()">Logout</a>
            </div>


        </div>
    </nav>

    <!--ng-template is a specific Angular component, it will run only if something request it-->
    <ng-template #login>
        <span class="navbar-text">
            <a [routerLink]="['']">Login</a><!--routerLink needs to be imported in the HeaderModule-->
        </span>
    </ng-template>
</header>